<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruits</title>
</head>
<body>
    <%- include("./templates/nav.ejs") %>
    <h1>Fruit List</h1>
    <main>
        <ul>
            <% fruitArray.forEach((Fruit) => { %>
                <li>
                    <a href="/index/<%= Fruit.id %>" ><%= Fruit.name %></a>
                </li>
            <% }); %>
        </ul>
    </main>
</body>
</html>